# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.png
generated_plugin_registrant.dart

# IDEs
.idea/
.vscode/
*.iml

# Betriebssystem
.DS_Store
Thumbs.db

# Logs
*.log

# Andere temporäre Dateien
*.swp
*.lock

