# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Plattform-Builds
android/.gradle/
android/app/build/
ios/Pods/
ios/.symlinks/
macos/Pods/

# IDE
.idea/
.vscode/

# Sonstiges
*.iml
