# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Flutter spezifisch
flutter_export_environment.sh

# IntelliJ/VS Code/Android Studio
.idea/
.vscode/
*.iml

# Betriebssystem
.DS_Store
Thumbs.db

# Logs
*.log

# Andere temporäre Dateien
*.swp
*.lock

# Platform spezifisch
android/local.properties
android/key.properties
ios/Pods/
ios/Podfile.lock
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Windows
windows/flutter/
windows/runner/Debug/
windows/runner/Release/
windows/runner/GeneratedPluginRegistrant.*

# Linux
linux/flutter/
linux/runner/
linux/Makefile

# MacOS
macos/Flutter/
macos/Pods/
macos/Podfile.lock

# Web
web/.dart_tool/
web/.flutter-plugins

# Supabase (nur Cache/Artefakte ignorieren)
supabase/.temp/
supabase/.supabase/
supabase/functions/**/node_modules/
supabase/functions/**/.tsbuildinfo


# Env files (nicht ins Repo!)
.env
*.env

